.form-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.signup-form {
  display: flex;
  justify-content: space-between;
}
.input-val {
  margin-right: 10px;
  margin-left: 10px;
}
.submit-button {
  margin-left: 10px;
}
.error {
  color: red;
}
